  .card {
  width: 220px; 
  background-color: #fcf5f5;
  border: 1px solid #ccc;
  box-sizing: border-box;
  padding: 10px;
  border-radius: 8px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  box-shadow: none;
  .card-title{
    font-size: 16px;
    font-weight: bold;
    font-style: italic;
    margin-bottom: 10px;
  }
}

.card:hover{
     transform: scale(1.05);         
  box-shadow: 0 8px 15px rgba(0,0,0,0.3); 
}
.completed{
    background-color: rgb(95, 167, 95);
}