<h1>პოსტების სია</h1>
@if (stateService.popUpIsOpen()) {
  <app-popup [postData]="stateService.selectedPost()"/>
}
<div class="table-wrapper">
  <table  cellspacing="0" cellpadding="8">
  <thead>
    <tr>
      <th>მომხმარებლის სახელი</th>
      <th>პოსტის სათაური</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
   @for (post of postsArrayWithUserName(); track post.id) {
      <tr>
        <td>{{ post.username }}</td>
        <td>{{ post.title}}</td>
        <td><button (click)="displayFullInfo(post.id)">დეტალურად</button></td>
      </tr>
    }
  </tbody>
</table>
</div>

